<div id="web">

    <!-- Card 01 -->
    <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-7" data-aos="zoom-in-right">
            <div class="project-image-container">
                <img src="assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
            </div>
        </div>

        <div class="col-lg-5 project-content text-end" data-aos="zoom-in-left">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Multilac Paints</h3>

            <div class="description-card-right">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 justify-content-end stack-row ms-auto">
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">JS</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Bootstrap</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">WordPress</div>
                    <div class="col-auto stack-box">Custom CMS</div>
                    <div class="col-auto stack-box">Woocommerce</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="https://multilac.wearedesigners.net/multilac/" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

    </div>

    <!-- Card 02 -->
    <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-5 project-content text-start order-1 order-lg-0 text-card-left" data-aos="zoom-in-right">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Serendib Flour Mills (SFML)</h3>

            <div class="description-card-left">
                <p>Modern website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 stack-row">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Javascript</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Boostrap5</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">Custom WordPress CMS</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="https://serendibfml.wearedesigners.net/" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

        <div class="col-lg-7" data-aos="zoom-in-left">
            <div class="project-image-container">
                <img src="../assets/project-img/Untitled design (7) (1).png" alt="...">
                <div class="image-overlay"></div>
            </div>
        </div>

    </div>

    <!-- Card 03 -->
    <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-7" data-aos="zoom-in-right">
            <div class="project-image-container">
                <img src="assets/project-img/Untitled design (5) (1).png" alt="...">
            </div>
        </div>

        <div class="col-lg-5 project-content text-end" data-aos="zoom-in-left">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">KSL (Kitesurfing Lanka)</h3>

            <div class="description-card-right">
                <p>Modern Kitesurfing website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 justify-content-end stack-row ms-auto">
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">JS</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Bootstrap</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">WordPress</div>
                    <div class="col-auto stack-box">Custom CMS</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="https://www.kitesurfinglanka.com/" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

    </div>

    <!-- Card 04 -->
    <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-5 project-content text-start order-1 order-lg-0 text-card-left" data-aos="zoom-in-right">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Beach Park</h3>

            <div class="description-card-left">
                <p>Modern website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 stack-row">
                    <div class="col-auto stack-box">WordPress Theme - Stallion</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="https://thebeachpark.lk/" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

        <div class="col-lg-7" data-aos="zoom-in-left">
            <div class="project-image-container">
                <img src="assets/project-img/Untitled design (8)-Photoroom.png" alt="...">
                <div class="image-overlay"></div>
            </div>
        </div>

    </div>

    <!-- Card 05 -->
    <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-7" data-aos="zoom-in-right">
            <div class="project-image-container">
                <img src="assets/project-img/Untitled design (9)-Photoroom.png" alt="...">
            </div>
        </div>

        <div class="col-lg-5 project-content text-end" data-aos="zoom-in-left">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Lynear Wealth</h3>

            <div class="description-card-right">
                <p>Website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 justify-content-end stack-row ms-auto">
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">JS</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Bootstrap</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">WordPress</div>
                    <div class="col-auto stack-box">Custom CMS</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="https://multilac.wearedesigners.net/multilac/" target="_blank" rel="noopener noreferrer"><i class="fab fa-github ms-3"></i></a>
            </div>

        </div>

    </div>

    <!-- Card 06 -->
    <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-5 project-content text-start order-1 order-lg-0 text-card-left" data-aos="zoom-in-right">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Ayura Diamonds</h3>

            <div class="description-card-left">
                <p>Modern Ayura Diamonds website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 stack-row">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Javascript</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Boostrap5</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">Custom WordPress CMS</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="https://ayuradiamonds.com/" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

        <div class="col-lg-7" data-aos="zoom-in-left">
            <div class="project-image-container">
                <img src="assets/project-img/Untitled design (6)-Photoroom.png" alt="...">
                <div class="image-overlay"></div>
            </div>
        </div>

    </div>

    <!-- Card 07 -->
    <!-- <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-7" data-aos="zoom-in-right">
            <div class="project-image-container">
                <img src="assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
            </div>
        </div>

        <div class="col-lg-5 project-content text-end" data-aos="zoom-in-left">
            <p class="mono-text mb-1">Web Application</p>
            <h3 class="project-title mb-4">LAC</h3>

            <div class="description-card-right">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 justify-content-end stack-row ms-auto">
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Laravel</div>
                    <div class="col-auto stack-box">JS</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Bootstrap</div>
                    <div class="col-auto stack-box">MySQL</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="https://multilac.wearedesigners.net/multilac/"><i class="fab fa-github ms-3"></i></a>
            </div>

        </div>

    </div> -->

    <!-- Card 08 -->
    <!-- <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-5 project-content text-start order-1 order-lg-0 text-card-left" data-aos="zoom-in-right">
            <p class="mono-text mb-1">Web Application</p>
            <h3 class="project-title mb-4">PUCSL</h3>

            <div class="description-card-left">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 stack-row">
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Laravel</div>
                    <div class="col-auto stack-box">JS</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Bootstrap</div>
                    <div class="col-auto stack-box">MySQL</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="#"><i class="fab fa-github ms-3"></i></a>
            </div>

        </div>

        <div class="col-lg-7" data-aos="zoom-in-left">
            <div class="project-image-container">
                <img src="../assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
                <div class="image-overlay"></div>
            </div>
        </div>

    </div> -->

    <!-- Card 09 -->
    <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-7" data-aos="zoom-in-right">
            <div class="project-image-container">
                <img src="assets/project-img/Untitled design (11)-Photoroom.png" alt="...">
            </div>
        </div>

        <div class="col-lg-5 project-content text-end" data-aos="zoom-in-left">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Portfolio</h3>

            <div class="description-card-right">
                <div class="row m-0 gap-2 justify-content-end stack-row ms-auto">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">JS</div>
                    <div class="col-auto stack-box">GSAP</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">Bootstrap</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="https://rashmiguruge.github.io/RashmiGuruge.dev/" target="_blank" rel="noopener noreferrer"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

    </div>

    <!-- Card 10 -->
    <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-5 project-content text-start order-1 order-lg-0 text-card-left" data-aos="zoom-in-right">
            <p class="mono-text mb-1">Web Application</p>
            <h3 class="project-title mb-4">EyeGuardian</h3>

            <div class="description-card-left">
                <p>Classification of Glaucoma Stage Diagnosis through CNN - XGBoost Fusion with Explainable AI
                    <br><br>
                    A web application that early detection and diagnosis of glaucoma stage
with explainable AI using fundus images.
                </p>

                <div class="row m-0 gap-2 stack-row">
                    <div class="col-auto stack-box">Python</div>
                    <div class="col-auto stack-box">SHAP</div>
                    <div class="col-auto stack-box">LIME</div>
                    <div class="col-auto stack-box">FLASK</div>
                    <div class="col-auto stack-box">FIREBASE</div>
                    <div class="col-auto stack-box">Bootstrap</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-github ms-3"></i></a>
            </div>

        </div>

        <div class="col-lg-7" data-aos="zoom-in-left">
            <div class="project-image-container">
                <img src="assets/project-img/Untitled design (10)-Photoroom.png" alt="...">
                <div class="image-overlay"></div>
            </div>
        </div>

    </div>

</div>


<div id="mobile"></div>


<div id="applications"></div>

<div class="d-flex justify-content-center">
<div class="btn explore-work-btn d-flex align-items-center">
    <a href="https://github.com/RashmiGuruge" class="pe-2 me-1">View All Projects in GitHub</a>
        <span><img class="mb-1_7" src="assets/icon/up right.svg" alt=""></span>
</div>
</div>