<div id="web">

    <!-- Card 01 -->
    <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-7" data-aos="zoom-in-right">
            <div class="project-image-container">
                <img src="../assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
            </div>
        </div>

        <div class="col-lg-5 project-content text-end" data-aos="zoom-in-left">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Multilac Paints</h3>

            <div class="description-card-right">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 justify-content-end stack-row ms-auto">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Javascript</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Boostrap5</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">Custom WordPress CMS</div>
                    <div class="col-auto stack-box">Woocommerce</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

    </div>

    <!-- Card 02 -->
    <div class="row align-items-center position-relative mb-100 project-row-mobile-fix">

        <div class="col-lg-5 project-content text-start order-1 order-lg-0 text-card-left" data-aos="zoom-in-right">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Halcyon Theme</h3>

            <div class="description-card-left">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 stack-row">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Javascript</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Boostrap5</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">Custom WordPress CMS</div>
                    <div class="col-auto stack-box">Woocommerce</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

        <div class="col-lg-7" data-aos="zoom-in-left">
            <div class="project-image-container">
                <img src="../assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
                <div class="image-overlay"></div>
            </div>
        </div>

    </div>

    <!-- Card 03 -->
    <div class="row align-items-center position-relative mb-100">

        <div class="col-lg-7">
            <div class="project-image-container">
                <img src="../assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
            </div>
        </div>

        <div class="col-lg-5 project-content text-end">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Multilac Paints</h3>

            <div class="description-card-right">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 justify-content-end stack-row ms-auto">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Javascript</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Boostrap5</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">Custom WordPress CMS</div>
                    <div class="col-auto stack-box">Woocommerce</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

    </div>

    <!-- Card 04 -->
    <div class="row align-items-center position-relative mb-100">

        <div class="col-lg-5 project-content text-start order-1 order-lg-0">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Halcyon Theme</h3>

            <div class="description-card-left">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 stack-row">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Javascript</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Boostrap5</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">Custom WordPress CMS</div>
                    <div class="col-auto stack-box">Woocommerce</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

        <div class="col-lg-7">
            <div class="project-image-container">
                <img src="../assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
                <div class="image-overlay"></div>
            </div>
        </div>

    </div>

    <!-- Card 05 -->
    <div class="row align-items-center position-relative mb-100">

        <div class="col-lg-7">
            <div class="project-image-container">
                <img src="../assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
            </div>
        </div>

        <div class="col-lg-5 project-content text-end">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Multilac Paints</h3>

            <div class="description-card-right">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 justify-content-end stack-row ms-auto">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Javascript</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Boostrap5</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">Custom WordPress CMS</div>
                    <div class="col-auto stack-box">Woocommerce</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

    </div>

    <!-- Card 06 -->
    <div class="row align-items-center position-relative mb-100">

        <div class="col-lg-5 project-content text-start order-1 order-lg-0">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Halcyon Theme</h3>

            <div class="description-card-left">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 stack-row">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Javascript</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Boostrap5</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">Custom WordPress CMS</div>
                    <div class="col-auto stack-box">Woocommerce</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

        <div class="col-lg-7">
            <div class="project-image-container">
                <img src="../assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
                <div class="image-overlay"></div>
            </div>
        </div>

    </div>
 
    <!-- Card 07 -->
    <div class="row align-items-center position-relative mb-100">

        <div class="col-lg-7">
            <div class="project-image-container">
                <img src="../assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
            </div>
        </div>

        <div class="col-lg-5 project-content text-end">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Multilac Paints</h3>

            <div class="description-card-right">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 justify-content-end stack-row ms-auto">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Javascript</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Boostrap5</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">Custom WordPress CMS</div>
                    <div class="col-auto stack-box">Woocommerce</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

    </div>

    <!-- Card 08 -->
    <div class="row align-items-center position-relative mb-100">

        <div class="col-lg-5 project-content text-start order-1 order-lg-0">
            <p class="mono-text mb-1">Web</p>
            <h3 class="project-title mb-4">Halcyon Theme</h3>

            <div class="description-card-left">
                <p>Modern Multilac paint website featuring smooth, high-performance animations and an engaging, visually
                    rich user experience.</p>

                <div class="row m-0 gap-2 stack-row">
                    <div class="col-auto stack-box">HTML</div>
                    <div class="col-auto stack-box">PHP</div>
                    <div class="col-auto stack-box">Javascript</div>
                    <div class="col-auto stack-box">jQuery</div>
                    <div class="col-auto stack-box">CSS</div>
                    <div class="col-auto stack-box">Boostrap5</div>
                    <div class="col-auto stack-box">AOS</div>
                    <div class="col-auto stack-box">MySQL</div>
                    <div class="col-auto stack-box">Custom WordPress CMS</div>
                    <div class="col-auto stack-box">Woocommerce</div>
                </div>
            </div>

            <div class="project-links mt-3">
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fas fa-external-link-alt ms-3"></i></a>
            </div>

        </div>

        <div class="col-lg-7">
            <div class="project-image-container">
                <img src="../assets/project-img/Untitled design (2)-Photoroom.png" alt="...">
                <div class="image-overlay"></div>
            </div>
        </div>

    </div>

</div>


<div id="mobile"></div>


<div id="applications"></div>

<div class="d-flex justify-content-center">
<div class="btn explore-work-btn d-flex align-items-center">
    <a href="" class="pe-2 me-1">View All Projects</a>
        <span><img class="mb-1_7" src="assets/icon/up right.svg" alt=""></span>
</div>
</div>