:root {
  --poppins-font: "Poppins", sans-serif;
  --inter-font: "Inter", sans-serif;
  --neon-green: #39FF14;
  --neon-pink: #EC4899;
  --footer-color: #abb6c6;
  --light-pink: #ff99c4;
  --electric-blue : #7ee6ff;
}


html {
  scroll-behavior: smooth;
}

body {
  /* background: #030B0E; */
  background: #010611;
  /* background: #0B0F1A; */
  /* background: radial-gradient(circle at top left, rgba(255,77,148,0.05), transparent 40%),
              radial-gradient(circle at bottom right, rgba(111,134,255,0.06), transparent 40%),
              radial-gradient(circle at center, rgba(70, 8, 97, 0.03), transparent 60%),
              #030B0E;
  background-size: 200% 200%;
  animation: softMove 20s ease-in-out infinite; */
}

/* @keyframes softMove {
  0% { background-position: 0% 0%, 100% 100%, 50% 50%; }
  50% { background-position: 100% 0%, 0% 100%, 50% 50%; }
  100% { background-position: 0% 0%, 100% 100%, 50% 50%; }
} */

.img {
  object-fit: cover;
  width: 100%;
}

hr {
  color: #bbbdc0;
}

.footer-color {
  color: var(--footer-color);
}



h1 {
  font-family: var(--poppins-font);
  font-size: 48px;
  font-weight: 300;
  line-height: normal;
  color: #f5f5f7;
}

.section-header-para {
  font-family: var(--poppins-font);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #bbbdc0;
  max-width: 530px;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
}

p {
  font-family: var(--poppins-font);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: rgb(171, 182, 198);
}



/* --------------- Side Social Media Bar - START --------------- */
.socialmedia-sidemenu {
  width: 40px;
  position: fixed;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  z-index: 10;
  color: #bbbdc0;
}

.socialmedia-sidemenu ul {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.socialmedia-sidemenu ul li {
  padding: 15px;
}

.socialmedia-sidemenu ul::before {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #ec4899;
}

.socialmedia-sidemenu ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #ec4899;
}
/* --------------- Side Social Media Bar - END --------------- */



/* --------------- Header - START --------------- */
.header-logo {
    width: 53px;
    height: 53px;
    object-fit: cover;
}

.header-row {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding-top: 1.6rem;
  padding-left: 30px;
  padding-right: 30px;
}

.glass-navbar {
  background: linear-gradient(135deg, rgb(255 255 255 / 4%), rgb(255 255 255 / 4%));
  backdrop-filter: blur(55px) saturate(300%);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 250px;
  border: none;
}

.glass-navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: inset -7px -13px 9px -11px rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  z-index: -1;
  border-radius: 250px;
}

.header-row.scrolled .glass-navbar {
  background: linear-gradient(135deg, rgba(30, 30, 30, 0.7), rgba(40, 40, 40, 0.7));
  backdrop-filter: blur(35px) saturate(300%);
}

.navbar-nav .nav-item .nav-link {
  font-family: var(--poppins-font);
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: 0.4px;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
  color: #ff4d94;
  text-decoration: none;
}

.header-download-cv-btn {
  /* background: linear-gradient(to right, #ff4d94 0%, #b372ce 50%, #6f86ff 100%); */
  background: linear-gradient(135deg, #e63b7a 0%, #8f56b5 50%, #4d63d6 100%);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 250px;
  border: none;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background 0.8s ease, transform 0.6s ease, box-shadow 0.6s ease;
}

.header-download-cv-btn:hover {
  transform: scale(1.05);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.2), 0 4px 12px rgba(0, 0, 0, 0.15);
}

.header-download-cv-btn a {
  font-family: var(--poppins-font);
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: 0.3px;
  text-decoration: none;
}


.header-row-mobile {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.glass-navbar-mobile {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  border-bottom: 5px solid #000000;
}

#navbarNav.collapse.show {
  background-color: #000000;
  border-radius: 0 0 20px 20px;
  padding: 20px 0 30px 0;
}

.navbar-collapse .nav-link {
  padding: 0.85rem 1rem;
  font-size: 16px !important;
}

.modern-toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modern-toggler .toggler-bar {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.modern-toggler.collapsed .toggler-bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.modern-toggler.collapsed .toggler-bar:nth-child(2) {
  opacity: 0;
}

.modern-toggler.collapsed .toggler-bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

#navbarNav.collapsing {
  background-color: #000000;
}
/* --------------- Header - END --------------- */



/* --------------- Hero Section Background - START --------------- */
.slider {
  background: url("../images/background-img.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.slider-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5f5f7;
  opacity: 0;
  animation: fadeInScale 3s ease forwards;
}

.slider::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  background: rgba(0, 0, 0, 0.2); 
  transform: scale(1);
  animation: zoomEffect 20s ease-in-out infinite alternate;
  z-index: 0;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
/* --------------- Hero Section Background - END --------------- */



/* --------------- Hero Section Text / Explore My Work Button - START --------------- */
.memoji {
  width: 95px;
}

.slider-content .header-txt {
  font-family: var(--poppins-font);
  font-size: 70px;
  font-weight: 300;
  color: #f5f5f7;
  letter-spacing: 0.2px;
}

.slider-content .header-para {
  font-family: var(--poppins-font);
  font-size: 17px;
  max-width: 670px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f5f5f7;
  filter: brightness(1.9);
}

.explore-work-btn {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 250px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(50px) saturate(300%);
  background: rgb(5 28 52);
  box-shadow: 0 12px 28px rgb(0 0 0), inset 0 -3px 8px rgb(255 255 255 / 39%), inset 0 0 0 1px rgb(255 255 255 / 14%);
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.4s ease, color 0.3s ease;
  overflow: hidden;
}

.explore-work-btn:hover {
  transform: scale(1.05);
  background: rgb(0 28 57);
}

.explore-work-btn a {
  font-family: var(--poppins-font);
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  letter-spacing: 0.3px;
  text-decoration: none;
}

/* Cursor */
.txt-type > .txt {
    border-right: 2px solid #bbbbbb;
}
/* --------------- Hero Section Text / Explore My Work Button - END --------------- */



/* --------------- Hero Section Scroll Down Button - Start --------------- */
#mouse-scroll {
  position: absolute;
  left: 50%;
}

#mouse-scroll span{
  display: block;
  width: 6px; 
  height: 6px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #abb6c6; 
  border-bottom: 2px solid #abb6c6;
  margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
  height: 26px;
  width: 16px;
  border-radius: 10px;
  transform: none;
  border: 2px solid #abb6c6;
}

#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}

#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
  -moz-animation: mouse-scroll 1s infinite:
}

#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}

#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* --------------- Hero Section Scroll Down Button - END --------------- */



/* --------------- Hero Section Floating Bubble - START --------------- */
.bubble {
  position: absolute;
  top: -1rem;
  right: 12rem;
  background: #158846;
  color: #f5f5f7;
  padding: 5px 15px;
  border-radius: 20px;
  font-family: var(--poppins-font);
  font-size: 14.5px;
  font-weight: 400;
  letter-spacing: 1px;
  animation: bounce 1.8s ease-in-out infinite;
}

.left {
  place-self: start;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
/* --------------- Hero Section Floating Bubble - END --------------- */



/* --------------- Tag - START --------------- */
.type-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  border-radius: 100px;
  background-image: radial-gradient(203% 203% at 50% 110%, rgba(186, 147, 248, 0.4) 0%,rgba(16, 24, 40, 0.3) 33.95%);
  background-color: rgba(16, 24, 40, 0.5); 
  border: 1px solid #667085;
  font-family: var(--inter-font);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #f5f5f7;
  #f5f5f7-space: nowrap;
  user-select: none;
  vertical-align: middle;
}

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  border-radius: 100px;
  background-image: radial-gradient(203% 203% at 50% 110%, rgba(186, 147, 248, 0.4) 0%,rgba(16, 24, 40, 0.3) 33.95%);
  background-color: rgba(16, 24, 40, 0.5); 
  border: 1px solid #667085;
  opacity: 0.85;
  font-family: var(--inter-font);
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.7px;
  color: #f5f5f7;
  #f5f5f7-space: nowrap;
  user-select: none;
  vertical-align: middle;
}

.shiny-text {
  position: relative;
  display: inline-block;
  font-weight: 500;
  background-image: linear-gradient(120deg,rgba(255, 255, 255, 0.3) 0%,rgba(245, 245, 245, 1) 30%,rgba(255, 255, 255, 1) 50%, rgba(245, 245, 245, 1) 70%,rgba(255, 255, 255, 0.3) 100% );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shimmerText 15s linear infinite;
  #f5f5f7-space: nowrap;
}

@keyframes shimmerText {
  0% {
    background-position: 300% center;
  }
  100% {
    background-position: -300% center;
  }
}
/* --------------- Tag - END --------------- */



/* --------------- Back To Top Button - START --------------- */
.back-to-top {
  margin-right: 20px;
  margin-bottom: 30px;
}
/* --------------- Back To Top Button - END --------------- */



/* --------------- Project Cards - START --------------- */
.project-image-container img {
  object-fit: cover;
  width: 100%;
}

.project-title {
  font-family: var(--inter-font);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  color: rgb(248, 250, 252);
}

.description-card-right,
.description-card-left {
  background: rgb(133 133 133 / 14%);
  backdrop-filter: blur(20px);
  border-radius: 4px;
  position: relative;
  z-index: 2;
  border: 1px solid rgba(100, 255, 218, 0.1);
  padding: 25px;
}

.description-card-left {
  margin-right: -160px;
}

.description-card-right {
  margin-left: -160px;
}

.stack-row {
  max-width: 30rem;
}

.stack-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--poppins-font);
  font-size: 13.5px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #7ee6ff;
  background-color: rgba(30, 41, 59, 0.7);
  padding: 0.25rem 0.6rem;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.description-card-right p,
.description-card-left p {
  font-family: var(--poppins-font);
  font-size: 16px;
  color: rgb(171, 182, 198);
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
}

.project-links a {
  color: white;
  font-size: 1.35rem;
  text-decoration: none;
}

.project-links a:hover {
  color: #ec4899;
}

.mono-text {
  font-size: 13px;
  font-family: var(--inter-font);
  color: #bbbdc0;
  font-weight: 300;
}

.project-nav {
  max-width: 35rem;
  margin: 0 auto;
}

.project-nav .nav .nav-link {
  font-family: var(--inter-font);
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  border: none;
}

.project-nav .nav .nav-link:hover {
  color: var(--neon-pink);
}

.text-card-left {
  position: relative;
  z-index: 999;
}

.project-row-mobile-fix {
  overflow: hidden;
}
/* --------------- Project Cards - END --------------- */



/* --------------- Skill Cards - END --------------- */
.skill-cards .tech-card {
  padding: 25px;
  border-radius: 20px;
  background: rgb(133 133 133 / 14%);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
  transition: all 0.4s ease;
}

.skill-cards .tech-card:hover {
  transform: translateY(-10px) scale(1.02);
  border: none;
}

.skill-cards .category-title {
  font-family: var(--inter-font);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ffffff;
}

.skill-cards .category-title i {
  opacity: 0.8;
}

.skill-cards .badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-cards .tech-badge {
  font-family: var(--poppins-font);
  font-size: 16px;
  color: rgb(171, 182, 198);
  letter-spacing: 0.5px;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.2s;
  cursor: default;
}

.skill-cards .tech-badge:hover {
  background: rgba(255, 255, 255, 0.1);
  /* transform: scale(1.12); */
}

.skill-cards .tech-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
/* --------------- Skill Cards - END --------------- */



        .feature-card {
            padding: 20px;
    border-radius: 20px;
    background: rgb(133 133 133 / 14%);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
    transition: all 0.4s ease;
        }

        .feature-card:hover {
            transform: translateY(-5px);
            border-color: #475569;
        }

        .icon-box {
            font-size: 1.5rem;
            margin-right: 15px;
        }

        /* Icon Colors */
        .icon-blue { color: #3b82f6; }
        .icon-green { color: #22c55e; }
        .icon-yellow { color: #eab308; }
        .icon-red { color: #ef4444; }

        .feature-title {
          font-family: var(--inter-font);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
            margin-bottom: 0;
            color: white;
        }

        .feature-text {
            font-family: var(--poppins-font);
    font-size: 14px;
    color: rgb(171, 182, 198);
    letter-spacing: 0.5px;
    font-weight: 400;
            margin-top: 12px;
            margin-bottom: 0px;
        }



/* --------------- Margin / Padding - START --------------- */
.mb-1_7 {
  margin-bottom: 1.7px;
}

.mb-12 {
  margin-bottom: 12px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mt-150 {
  margin-top: 150px;
}
/* --------------- Margin / Padding - END --------------- */




/* --------------- Footer - START --------------- */
footer {
  background-color: #000000;
}
/* --------------- Footer - END --------------- */






.contactus-card {
  padding: 0px;
  border-radius: 20px;
  background: rgb(133 133 133 / 16%);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

.contact-info h3 {
    font-family: var(--inter-font);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
    color: rgb(248, 250, 252);
}

.social-icon-link {
    color: #f5f5f7;
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #f5f5f7;
    border-radius: 50px;
    margin: 2px 2px 5px;
}

.contact-text {
  font-family: var(--poppins-font);
  font-size: 16px;
  color: #E1EEF3;
  letter-spacing: 0.5px;
  font-weight: normal;
}

.vr {
  height: 100%;
	border-left: 2px solid #f5f5f7;
}














@media (max-width: 768px) {
  .slider-content {
    width: 100%;  
    padding: 0 10px;     
  }

  .slider-content .header-txt {
    font-size: 45px;
  }

  .slider-content .header-para {
    font-size: 16px;
  }

  h1 {
    font-size: 35px;
  }

  .slider {
    height: 120vh !important;
  }

  .timeline-icon {
    left: -2.7% !important;
}
}


/* Responsive adjustments (iPad & Mobile) */
@media (max-width: 991.98px) {
  .stack-row {
    justify-content: center !important;
    margin-left: auto !important;
  }

  .project-content {
    text-align: left !important;
    margin-top: 20px;
  }

  .description-card-right,
  .description-card-left {
    margin-left: 0;
    margin-right: 0;
    box-shadow: none !important;
    text-align: center;
  }

  .project-links,
  .mono-text,
  .project-title {
    text-align: center;
  }
}

/* iPhone 15 (portrait & landscape) */
@media only screen
  and (device-width: 393px)
  and (device-height: 852px)
  and (-webkit-device-pixel-ratio: 3) {

    .slider {
        height: 150vh !important;
    }
}


@media (min-width: 1024px) {
    .max-w-screen-xl {
        max-width: 75rem !important;
    }
}















 










